<div class="post-abstract float-md-left">
    {% if include.splash %}
    <div class="post-splash"><img src="{{ include.splash }}" alt="Illustration of post '{{ include.title }}'"/></div>
    {% endif %}
    <div class="post-content">
        <div class="post-title">{{ include.title }}</div>
        <div class="post-date">{{ include.date | date_to_string }}</div>
        <div class="post-excerpt">{{ include.excerpt }}</div>

        {% if include.external_link == 'true' %}
        <a href="{{ include.url }}" target="_blank">{% if include.link_text %}{{ include.link_text }}{% else %}Read more...{% endif %}</a>
        {% else %}
        <a href="{{ include.url }}">{% if include.link_text %}{{ include.link_text }}{% else %}Read more...{% endif %}</a>
        {% endif %}

    </div>
</div>