<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/favicon.ico">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.bundle.js"></script>
    <script src="/js/webfont.js"></script>
    <script src="/js/custom.js"></script>
    <title>{{ site.title }}</title>
</head>
<body class="font-ubuntu bg-light text-dark pt-custom">
<nav class="navbar fixed-top navbar-expand-sm navbar-light bg-light shadow">
    <div class="container">
        <a class="navbar-brand" href="/"><img class="homelink" src="/images/logo.png" alt="Logo {{ site.title }}"></a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#items" aria-controls="items" aria-expanded="false"><i class="navbar-toggler-icon"></i></button>
        <div class="navbar-collapse collapse" id="items">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/portfolio.html">Portfolio</a>
                <a class="nav-item nav-link" href="/contact.html">Contact</a>
            </div>

            <div class="navbar-nav ml-auto">
                <a class="nav-item nav-link" href="https://twitter.com/neur0nia"><i class="fab fa-twitter"></i><span class="d-sm-none"> @neur0nia</span></a>
                <a class="nav-item nav-link" href="https://github.com/leneurone"><i class="fab fa-github"></i><span class="d-sm-none"> leneurone</span></a>
                <a class="nav-item nav-link" href="https://www.linkedin.com/in/clairevillard/"><i class="fab fa-linkedin"></i><span class="d-sm-none"> {{ site.name }} on LinkedIn</span></a>
            </div>
        </div>
    </div>
</nav>
{{ content }}

<footer class="footer font-small bg-light mt-4 text-center">
    {% include license.html %}
</footer>

</body>
</html>
